/* HEADER */

#logo-section{
    background-color: black;
}

#logo-section img{
    width: 110px;
}

.fm-bg-wht{
    background-color: white;
}

/* JUMBOTRON */

.jumbotron{
    background-image: url(img/jumbo-bg.png);
    background-position: top center;
    background-size: cover;
    margin-top: 100px;
    height: 900px;
}

.padding-top{
    padding-top: 500px;
}

.fm-text{
    font-size: 50px;
}

/* CARDS */

#mini-cards{
    height: auto;
    
}

#mini-cards img, #news-section img{
    margin-bottom: 10px;
}

/* CONSOLE SECTION */

.mini-pct{
    opacity: 100%;
}

.mini-pct:hover{
    border-bottom: 2px solid blue;
    opacity: 70%;
}

#cover{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top center;
    background-size: cover;
    margin-top: 100px;
    position: relative;
}

#news-section{
    background-color: #1F1F1F;
    height: auto;
}

#plus{
    background-color: #BEBCBB;
    height: auto;
}

.pls-img{
    height: 50px;
}

#sales{
    background-color: #161C3B;
    height: auto;
}

footer{
    background-color: #00439C;
    height: auto;
}

.sony-ent{
    width: 150px;
}

