/* HEADER */

#logo-section{
    background-color: black;
}

#logo-section img{
    width: 110px;
}

.fm-bg-wht{
    background-color: white;
}

.dropdowning{
    width: 10px;
}

.drop-inline{
    display: inline-block;
}

.dropdown-menu--personale{
    width: 800px;
    position: absolute;
    top: 55px !important;
    left: -80px !important;
    border-top: none;
    height: auto;
}

.col-3--personal{
    width: 200px;
    }

.col-3--personal:hover{
  border: 1px solid transparent;
  box-shadow: 6px 5px 15px 5px #888888;
}

/* JUMBOTRON */

.jumbotron{
    background-image: url(img/jumbo-bg.png);
    background-position: top center;
    background-size: cover;
    margin-top: 100px;
    height: 900px;
}

.padding-top{
    padding-top: 350px;
}

.fm-text{
    font-size: 50px;
}

/* CARDS */

#mini-cards{
    height: auto;
    }

#mini-cards img, #news-section img{
    margin-bottom: 10px;
}

/* CONSOLE SECTION */

.mini-pct img{
    border-bottom: 2px solid transparent;
    
}

.mini-pct:hover img{
    border-bottom: 2px solid blue;
    opacity: 70%;
}

.mini-pct:hover p{
    color: black;
}

#cover{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top center;
    background-size: cover;
    margin-top: 100px;
    position: relative;
}

#news-section{
    background-color: #1F1F1F;
    height: auto;
}

#plus{
    background-color: #BEBCBB;
    height: auto;
}

.pls-img{
    height: 65px;
}

#sales{
    background-color: #161C3B;
    height: auto;
}

footer{
    background-color: #00439C;
    height: auto;
}

.p-1{
    border: 2px solid blue;
    
}

.sony-ent{
    width: 150px;
}

@media (min-width: 992px) {
    .spostamento{
        transition: 0.5s;
    }
    
    .spostamento:hover{
        transform: translate(0px,-15px);
    }
}
